/*https://quarto.org/docs/presentations/revealjs/themes.html*/

/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif !default;
$presentation-font-size-root: 30px;
$presentation-line-height: 1.2;

// headings
$presentation-heading-font: "Atkinson Hyperlegible", Helvetica, Arial, sans-serif !default; //"EB Garamond", Garamond, Times, serif;
$presentation-heading-color: #B39CCD !default;

$presentation-h1-font-size:	2.5em;
$presentation-h2-font-size:	1.8em;
$presentation-h3-font-size:	1.6em;
$presentation-h4-font-size: 1em;

// colors
$body-bg: #23102A !default;
$body-color: #C8B2E2 !default;
$link-color: #9F69C7 !default;
$link-color-hover: #8554E8 !default;
$selection-bg: #31193F !default;

// inline code
$code-bg:  #553A74 !default;
$code-color: #F4E8FD;

// code blocks
$code-block-bg: #1A111E;
$code-block-border-color: lighten($code-block-bg, 10%);
$code-block-font-size: 0.55em;


// general
p {
  color: $body-color;
  
  code {
    padding: 3px;
  }
}

a {
  text-decoration: underline !important;
}

h1 {
  color: #9F69C7 !important;
}

strong {
  color: #9069C0 !important;
}

.footer {
  font-size: 0.4em !important;
  
  p {
  color: #442A54 !important;
  }
  
  a {
  color: #442A54 !important;
  }
}

.title {
  font-weight: 600 !important;
  line-height: 1 !important;
}

.subtitle {
  // font-family: "EB Garamond", Garamond, Times, serif !important;
  font-size: 130%;
  font-style: italic;
  font-weight: normal;
}

.subtitulo {
  font-size: 120%;
  font-weight: bold;
  color: $link-color;
}

// images
.reveal section.img_container {
        width: 90%;
        height: 100%;
        margin: 0;
        padding: 0;
}
.reveal section img {
        display: block;
        margin: auto;
        height: auto;
        max-height: 90%;
        width: auto;
        max-width: 90%;
}


// creados
.espaciar {
      padding-right: 10%; /* Adjust the percentage as needed */
}

.borde {
  border-radius: 7px !important;
  margin: 12px !important;
}

.borde-linea {
  border-radius: 8px !important;
}

.linea {
  border: solid 2px #442A54;
}

.centrar {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.grande
{
    border: none;
    box-shadow: none;
    max-height: calc(66vh);
    max-width: calc(66vw);
}

.cuadro {
    border: solid 1px #442A54;
    border-radius: 8px !important;
    padding: 10px !important;
    padding-left: 20px !important;
    padding-bottom: 4px !important;
    margin: 10px;
    background-color: #31193F;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}


/*estilo de listas*/

.reveal ul {
  list-style-type: none; 
  padding-left: 6px; 
}

ul li {
  position: relative; 
  padding-left: 30px; 
  margin-bottom: 6px;
}

ul li::before {
  content: '▶'; 
  position: absolute;
  left: 0;
  color: #9F69CA;
  font-size: 20px;
  line-height: 2;
}